*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", serif;
}

body{
    height: 100vh;
}
.parent{
    display: flex;
}
.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: cadetblue;
}

.sidebar-pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.img-sidebar{
    text-align: center;
}
.img-sidebar img{
    width: 80%;
    border-radius: 50%;
    border: 6px solid rgb(122, 213, 216);
}
.menu{
    margin: 20px 0;
    text-align: center;
    position: relative;
    
}
.exp-btn , .sobre-btn1, .sobre-btn2, .ed-btn1 {
    color: white;
    opacity: 0.7;
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin: 20px;
}
.sobre-btn, .exp-btn1, .ed-btn2 {
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin: 20px;

}
.menu a:hover{
    transform: scale(1.1);
    transition: 0.2s;
    opacity: 1;
}
.content1, .content2{
    background-color: whitesmoke;
}    
    

.content{
    width: 80%;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    left: 20%;
    overflow-y:auto;
    padding: 0 3%;
}

section.descricao{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Teko", serif;

}
section.descricao h1{
    color: rgb(24, 24, 24);
    font-size: 70px;
    font-weight: 100px;    
}
section.descricao h3, h4{
    font-size: 20px;
    color: dimgrey;
    
}
section.descricao p{
    margin-top: 25px;
    font-size: 25px;
    color: dimgrey;

}
section.descricao span{
    color: cadetblue;
    
}
section.descricao h4 > span{
    color: cadetblue;
    margin: 20px;
    font-size: 25px;
}
.icons-social{
    margin-top: 20px;
}
.icons-social a:hover{
    background-color: cadetblue;

}

.icons-social a{
    text-decoration:  none;
    color: white;
    background-color: grey;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
        
}
.icons-social a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.icons-social a > i{
    line-height: 40px;
    
}

.experiencia{
    margin-left: 25%;
    margin-top: 10%;
} 
.experiencia h1{
   font-size:50px;
   color: dimgrey; 
}
.experiencia h2{
    margin-top: 20px;
}
.experiencia p{
    font-size: 25px;
    color: dimgrey;
}
.experiencia2{
    margin-block-end: 185px;
    margin-left: 25%;
    margin-top: 5;

}
.experiencia2 h2{
    margin-top: 20px;
}
.experiencia2 p{
    font-size: 25px;
    color: dimgrey;
}
.experiencia2  span{
    color: cadetblue;
    margin: 10px;
}
.educacao{
   color: dimgrey;
   margin-left: 25%;
   margin-top: 1%;


}
.educacao h1{
    font-size:50px;
    color: dimgrey;

}
.educacao h2{
    color: black;
    font-size:25px;
}
.educacao p{
    font-size: 25px;
    color: dimgrey;
}
.educacao2{
    margin-left: 25%;
    margin-top: 1%;
}
.educacao2 h2{
    margin-top: 20px;
    color: black;
    font-size:25px;
}
.educacao2 p{
    font-size: 25px;
    color: dimgrey;

}
.educacao2 span{
    color: cadetblue;
    margin: 10px;
}

.exp-btn1 { 
    color: white;
    font-size: 30px;
    text-decoration: none;
    display: block;
    margin: 20px;

}